# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual env
.venv/
venv/
ENV/

# IDE / Editor
.vscode/
.idea/
*.swp

# Logs
*.log
*.out

# Coverage / testing
.coverage
coverage.xml
htmlcov/
.pytest_cache/

.mypy_cache/

# Envs
.env
.env.local
.env.*.local

# Docker
*.pid
*.tar
*.bak

# System
.DS_Store
Thumbs.db
